input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hidden {
  display: none;
}
:root {
  --gold-color: #ca992e;
}
.izdelava {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-link {
  font-weight: 600;
  color: #bd8f2c;
}
.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 364px;
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
body {
  font-family: "TT Norms Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f1f1f1;
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.navbar .main-menu ul {
  display: flex;
}
.navbar ul li a {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  display: block;
  font-weight: 500;
  transition: 0.3s;
}
.navbar ul li a:hover {
  color: var(--gold-color);
}
.logo img {
  max-width: 300px;
  display: block;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.logo-mobile {
  display: block;
  padding: 10px;
  padding-top: 15px;
  max-width: 250px;
  margin: 10px 25px;
  flex-shrink: 1;
}

/* Utility Classes */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar {
  background-color: #fff;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping_bag {
  display: block;
  padding: 10px;
  height: 48px;
  width: 48px;
  min-width: 48px;
  margin-left: 10px;
  flex-shrink: 1;
}

.hamburger-button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  margin-right: 10px;
}
.hamburger-line {
  width: 27px;
  height: 2px;
  border-radius: 3px;
  background: #333;
  margin: 6px 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu ul {
  margin-top: 170px;
  padding-left: 10px;
}
.mobile-menu ul li {
  margin: 10px 0;
}
.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}
.kontakt-podatki {
  display: block;
  padding: 20px;
}
.kontakt p {
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
}
.kontakt .kontakt-sporocilo p {
  margin: 15px 0;
}

.kontakt-sporocilo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.kontakt .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.kontakt-sporocilo input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
}
input {
  outline: none;
}

textarea {
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
form .p-textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.p-textarea {
  display: flex;
  height: 100%;
}
form .p-textarea label {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 15px;
}
.poslji {
  padding: 0 35px;
  background-color: #ca992e8d;
  border: none;
  border-radius: 25%/50%;
}
.poslji p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.kontakt-podatki-mobile {
  display: block;
  margin-top: 20px;
}

/* Media-query */
@media (max-width: 400px) {
  .mobile-menu ul li a {
    font-size: 15px;
  }
  .mobile-menu ul {
    margin-top: 120px;
  }
  .mobile-menu {
    width: 200px;
  }
  .logo-mobile {
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .hamburger-line {
    width: 20px;
    height: 1.5px;
    margin: 5px 0;
  }
  .shopping_bag {
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-top: 30px;
  }
  .hamburger-button {
    margin-top: 30px;
  }
}

@media (max-width: 900px) {
  .navbar .main-menu {
    display: none;
  }
  .navbar .logo {
    display: none;
  }
  .kontakt .container {
    flex-direction: column;
  }
  .kontakt-sporocilo {
    width: 100%;
    max-width: 570px;
    padding: 20px;
  }
  form .p-textarea label {
    height: 200px;
  }
  form {
    height: auto;
  }
  .kontakt-sporocilo p {
    font-size: 15px;
    margin: 10px;
  }
  .kontakt-sporocilo h3 {
    font-size: 17px;
  }
  .poslji {
    padding: 0 25px;
    margin-bottom: 10px;
  }

  .kontakt-podatki {
    display: none;
  }
}

@media (min-width: 900px) {
  .navbar .logo-mobile {
    display: none;
  }
  .navbar .mobile-menu {
    display: none;
  }
  .hamburger-button {
    display: none;
  }
  .shopping_bag {
    display: none;
  }
  .kontakt-podatki {
    display: block;
  }
  .kontakt-podatki-mobile {
    display: none;
  }
}
